n8n/workflows/office-ai-intake-router.json
{
  "name": "Office AI - Intake Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "office-ai/intake",
        "responseMode": "responseNode"
      },
      "id": "webhook-intake",
      "name": "Office Intake Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        260
      ]
    },
    {
      "parameters": {},
      "id": "manual-intake",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        440
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return [\n  {\n    json: {\n      prompt: 'Investiga competidores, revisa el backend y converti el flujo a n8n gratis',\n      source: 'manual',\n      requestId: 'manual-' + Date.now(),\n    },\n  },\n];"
      },
      "id": "sample-intake-request",
      "name": "Sample Intake Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        440
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const input = items[0]?.json ?? {};\nconst payload = input.body && typeof input.body === 'object' ? input.body : input;\nconst prompt = [payload.prompt, payload.task, payload.message, payload.text]\n  .find((value) => typeof value === 'string' && value.trim()) ?? 'Analizar la tarea actual de Office AI';\nconst requested = String(prompt).toLowerCase();\nconst mentionMap = {\n  scout: 'SCOUT',\n  apex: 'APEX',\n  zion: 'ZION',\n  forge: 'FORGE',\n  echo: 'ECHO',\n  vera: 'VERA',\n  vox: 'VOX',\n};\nconst mentionedAgents = Object.entries(mentionMap)\n  .filter(([token]) => requested.includes(token))\n  .map(([, agent]) => agent);\nconst inferredAgents = [];\nif (/investig|compet|mercado|tendencia|web/.test(requested)) inferredAgents.push('SCOUT');\nif (/repo|backend|codigo|arquitect|bug|infra/.test(requested)) inferredAgents.push('APEX');\nif (/estrateg|growth|negocio|roadmap|plan/.test(requested)) inferredAgents.push('ZION');\nif (/workflow|automat|n8n|deploy|implement/.test(requested)) inferredAgents.push('FORGE');\nconst leadAgents = [...new Set([...mentionedAgents, ...inferredAgents])].slice(0, 3);\nconst complexityScore =\n  prompt.length +\n  leadAgents.length * 35 +\n  (/profundo|deep|completo|detallado/.test(requested) ? 80 : 0);\nconst responseMode = complexityScore >= 160 ? 'deep' : 'rapid';\nreturn [\n  {\n    json: {\n      requestId: payload.requestId ?? 'req-' + Date.now(),\n      task: prompt,\n      leadAgents: leadAgents.length ? leadAgents : ['SCOUT'],\n      source: payload.source ?? 'webhook',\n      freeOnly: true,\n      complexityScore,\n      responseMode,\n      maxLatencyMs: responseMode === 'rapid' ? 2500 : 4500,\n    },\n  },\n];"
      },
      "id": "normalize-intake",
      "name": "Normalize Intake",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        340
      ]
    },
    {
      "parameters": {
        "mode": "expression",
        "numberOutputs": 2,
        "output": "={{$json.responseMode === 'deep' ? 1 : 0}}"
      },
      "id": "switch-mode",
      "name": "Route Mode",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1060,
        340
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "lane-e7ae9b6b",
              "name": "lane",
              "value": "rapid",
              "type": "string"
            },
            {
              "id": "targetLatencyMs-b4af49ca",
              "name": "targetLatencyMs",
              "value": 2500,
              "type": "number"
            },
            {
              "id": "handoffPlan-ed08e636",
              "name": "handoffPlan",
              "value": "brief-builder -> specialist-runner -> compact-assembler",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true
      },
      "id": "rapid-lane",
      "name": "Rapid Lane",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1340,
        240
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "lane-3b6bab5d",
              "name": "lane",
              "value": "deep",
              "type": "string"
            },
            {
              "id": "targetLatencyMs-6195c503",
              "name": "targetLatencyMs",
              "value": 4500,
              "type": "number"
            },
            {
              "id": "handoffPlan-e2cc8b69",
              "name": "handoffPlan",
              "value": "brief-builder -> specialist-runner -> full-assembler",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true
      },
      "id": "deep-lane",
      "name": "Deep Lane",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1340,
        440
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": "__LEAD_BRIEF_BUILDER_ID__",
        "mode": "once",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "run-lead-brief-builder",
      "name": "Run Lead Brief Builder",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1620,
        340
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": "__SPECIALIST_RUNNER_ID__",
        "mode": "once",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "run-specialist-runner",
      "name": "Run Specialist Runner",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1900,
        340
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": "__RESPONSE_ASSEMBLER_ID__",
        "mode": "once",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "run-response-assembler",
      "name": "Run Response Assembler",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2180,
        340
      ]
    },
    {
      "parameters": {
        "mode": "expression",
        "numberOutputs": 2,
        "output": "={{$json.source === 'webhook' ? 1 : 0}}"
      },
      "id": "return-mode",
      "name": "Return Mode",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        2460,
        340
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "resultMode-9d0c90c6",
              "name": "resultMode",
              "value": "manual-preview",
              "type": "string"
            },
            {
              "id": "summarySource-04d0e05b",
              "name": "summarySource",
              "value": "n8n-office-router",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true
      },
      "id": "preview-result",
      "name": "Preview Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2740,
        240
      ]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem"
      },
      "id": "respond-intake",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2740,
        440
      ]
    }
  ],
  "connections": {
    "Office Intake Webhook": {
      "main": [
        [
          {
            "node": "Normalize Intake",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Sample Intake Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sample Intake Request": {
      "main": [
        [
          {
            "node": "Normalize Intake",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Intake": {
      "main": [
        [
          {
            "node": "Route Mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Mode": {
      "main": [
        [
          {
            "node": "Rapid Lane",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Deep Lane",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rapid Lane": {
      "main": [
        [
          {
            "node": "Run Lead Brief Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deep Lane": {
      "main": [
        [
          {
            "node": "Run Lead Brief Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Lead Brief Builder": {
      "main": [
        [
          {
            "node": "Run Specialist Runner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Specialist Runner": {
      "main": [
        [
          {
            "node": "Run Response Assembler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Response Assembler": {
      "main": [
        [
          {
            "node": "Return Mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Mode": {
      "main": [
        [
          {
            "node": "Preview Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true,
    "officeAiFreeOnly": true
  },
  "active": false,
  "description": "Router gratuito con webhook y modo manual que ya llama a los tres subworkflows de Office AI sin usar APIs pagas."
}
