n8n/workflows/office-ai-lead-brief-builder.json
{
  "name": "Office AI - Lead Brief Builder",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "lead-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        220,
        240
      ]
    },
    {
      "parameters": {},
      "id": "lead-manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        220,
        420
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return [\n  {\n    json: {\n      requestId: 'manual-office-ai',\n      task: 'Investigar competidores y revisar la arquitectura de Office AI',\n      responseMode: 'rapid',\n      leadAgents: ['SCOUT', 'APEX', 'ZION'],\n      freeOnly: true,\n    },\n  },\n];"
      },
      "id": "sample-lead-input",
      "name": "Sample Lead Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        420
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const input = items[0]?.json ?? {};\nconst leadAgents = Array.isArray(input.leadAgents) && input.leadAgents.length\n  ? input.leadAgents.slice(0, 3)\n  : ['SCOUT'];\nreturn leadAgents.map((lead, index) => ({\n  json: {\n    ...input,\n    lead,\n    leadIndex: index + 1,\n    briefId: (input.requestId ?? 'manual') + '-' + lead.toLowerCase(),\n  },\n}));"
      },
      "id": "expand-leads",
      "name": "Expand Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const lead = $json.lead ?? 'SCOUT';\nconst task = $json.task ?? 'Resolver una tarea';\nconst objectiveMap = {\n  SCOUT: 'Buscar informacion publica y validar supuestos',\n  APEX: 'Auditar arquitectura, codigo y riesgos tecnicos',\n  ZION: 'Definir enfoque estrategico y prioridades',\n  FORGE: 'Bajar implementacion operativa y workflow',\n  ECHO: 'Sintetizar hallazgos y narrativa',\n  VERA: 'Ordenar riesgos, compliance y claridad',\n  VOX: 'Adaptar salida para comunicacion externa',\n};\nreturn {\n  json: {\n    ...$json,\n    objective: objectiveMap[lead] ?? 'Resolver la tarea asignada',\n    contextBudget: $json.responseMode === 'deep' ? 'medium' : 'tight',\n    constraints: [\n      'usar solo nodos gratis de n8n',\n      'no depender de APIs pagas',\n      'priorizar respuestas cortas y accionables',\n    ],\n    deliverables: [\n      '3 hallazgos',\n      '2 riesgos',\n      '2 proximos pasos',\n    ],\n    task,\n  },\n};"
      },
      "id": "draft-brief",
      "name": "Draft Brief",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        300
      ]
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "amount": 1,
        "unit": "seconds"
      },
      "id": "lead-brief-pause",
      "name": "Short Coordination Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1320,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  json: {\n    ...$json,\n    briefSummary: `${$json.lead}: ${$json.objective}. Contexto ${$json.contextBudget}. Entrega: ${$json.deliverables.join(', ')}`,\n    readyForSpecialists: true,\n  },\n};"
      },
      "id": "finalize-brief",
      "name": "Finalize Brief",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1580,
        300
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Expand Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Sample Lead Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sample Lead Input": {
      "main": [
        [
          {
            "node": "Expand Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand Leads": {
      "main": [
        [
          {
            "node": "Draft Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Draft Brief": {
      "main": [
        [
          {
            "node": "Short Coordination Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Short Coordination Wait": {
      "main": [
        [
          {
            "node": "Finalize Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true,
    "officeAiFreeOnly": true
  },
  "active": false,
  "description": "Genera briefs por lead a partir del pedido de ARIA, con input gratis y estructura lista para handoff."
}
