n8n/workflows/oracle-ai-aria-router.json
{
  "name": "Oracle AI - ARIA Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "oracle-ai/aria",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "aria-webhook",
      "name": "Incoming Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        260
      ]
    },
    {
      "parameters": {},
      "id": "aria-manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        440
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return [\n  {\n    json: {\n      requestId: 'manual-aria-' + Date.now(),\n      prompt: 'Investiga mercado, revisa el sistema y baja un workflow gratis para Oracle AI',\n      source: 'manual',\n      requestedBy: 'USER',\n      freeOnly: true,\n    },\n  },\n];"
      },
      "id": "aria-sample-request",
      "name": "Sample Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        440
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const payload = $json.body && typeof $json.body === 'object' ? $json.body : $json;\nconst prompt = String(payload.prompt ?? payload.message ?? payload.task ?? '').trim() || 'Resolver un pedido general para Oracle AI';\nconst lower = prompt.toLowerCase();\nconst scoreMap = new Map([\n  ['SCOUT', 0],\n  ['APEX', 0],\n  ['VERA', 0],\n  ['ZION', 0],\n  ['FORGE', 0],\n  ['ECHO', 0],\n  ['VOX', 0],\n]);\nconst explicitMentions = [];\nfor (const agentId of scoreMap.keys()) {\n  if (lower.includes(agentId.toLowerCase())) {\n    explicitMentions.push(agentId);\n    scoreMap.set(agentId, (scoreMap.get(agentId) ?? 0) + 120);\n  }\n}\nconst weightedSignals = [\n  ['SCOUT', /(investig|mercado|compet|web|tendencia|noticia|research)/, 90],\n  ['APEX', /(repo|backend|frontend|codigo|arquitect|error|bug|next|react)/, 85],\n  ['VERA', /(riesgo|metrica|analisis|dato|forecast|dashboard)/, 78],\n  ['ZION', /(estrateg|roadmap|prioridad|negocio|growth)/, 80],\n  ['FORGE', /(workflow|n8n|automat|integracion|deploy|operaci)/, 82],\n  ['ECHO', /(mensaje|mail|cliente|copy|respuesta|comunic)/, 68],\n  ['VOX', /(post|reel|contenido|instagram|linkedin|youtube|tiktok)/, 68],\n];\nfor (const [agentId, pattern, weight] of weightedSignals) {\n  if (pattern.test(lower)) {\n    scoreMap.set(agentId, (scoreMap.get(agentId) ?? 0) + weight);\n  }\n}\nconst rankedAgents = [...scoreMap.entries()]\n  .filter(([, score]) => score > 0)\n  .sort((left, right) => right[1] - left[1])\n  .map(([agentId]) => agentId);\nconst complexityScore =\n  prompt.length +\n  rankedAgents.length * 28 +\n  (/profundo|deep|completo|detallado/.test(lower) ? 70 : 0);\nconst topScore = scoreMap.get(rankedAgents[0] ?? 'SCOUT') ?? 0;\nconst secondScore = scoreMap.get(rankedAgents[1] ?? '') ?? 0;\nconst maxAgents = explicitMentions.length === 1\n  ? 1\n  : topScore >= 110 && secondScore < 55\n    ? 1\n    : complexityScore < 170\n      ? 2\n      : 3;\nconst targetAgents = (rankedAgents.length ? rankedAgents : ['SCOUT']).slice(0, maxAgents);\nconst cutoffReason = maxAgents === 1\n  ? (explicitMentions.length === 1 ? 'explicit-single-agent' : 'single-high-confidence-agent')\n  : maxAgents === 2\n    ? 'balanced-duo-cap'\n    : 'three-agent-expansion';\nreturn [\n  {\n    json: {\n      requestId: payload.requestId ?? 'req-' + Date.now(),\n      prompt,\n      source: payload.source ?? ($json.body ? 'webhook' : 'manual'),\n      requestedBy: String(payload.requestedBy ?? 'USER'),\n      targetAgents: targetAgents.length ? targetAgents : ['SCOUT'],\n      executionOrder: targetAgents.map((agentId, index) => ({\n        agentId,\n        order: index + 1,\n        score: scoreMap.get(agentId) ?? 0,\n      })),\n      maxAgents,\n      cutoffReason,\n      earlyStopEligible: maxAgents === 1,\n      complexityScore,\n      freeOnly: true,\n    },\n  },\n];"
      },
      "id": "aria-normalize",
      "name": "Normalize Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        260
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const workflowMap = {\n  \"SCOUT\": \"__SCOUT_WORKFLOW_ID__\",\n  \"APEX\": \"__APEX_WORKFLOW_ID__\",\n  \"VERA\": \"__VERA_WORKFLOW_ID__\",\n  \"ZION\": \"__ZION_WORKFLOW_ID__\",\n  \"FORGE\": \"__FORGE_WORKFLOW_ID__\",\n  \"ECHO\": \"__ECHO_WORKFLOW_ID__\",\n  \"VOX\": \"__VOX_WORKFLOW_ID__\"\n};\nconst source = items[0]?.json ?? {};\nconst targetAgents = Array.isArray(source.targetAgents) && source.targetAgents.length ? source.targetAgents : ['SCOUT'];\nreturn targetAgents.map((agentId, index) => ({\n  json: {\n    requestId: source.requestId,\n    prompt: source.prompt,\n    source: source.source,\n    requestedBy: 'ARIA',\n    targetAgent: agentId,\n    workflowId: workflowMap[agentId],\n    agentIndex: index + 1,\n    executionOrder: source.executionOrder ?? [],\n    maxAgents: source.maxAgents ?? targetAgents.length,\n    cutoffReason: source.cutoffReason ?? 'fallback',\n    earlyStopEligible: source.earlyStopEligible ?? false,\n    complexityScore: source.complexityScore ?? 0,\n    freeOnly: true,\n  },\n})).filter((item) => Boolean(item.json.workflowId));"
      },
      "id": "aria-expand-agents",
      "name": "Expand Agent Targets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        260
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": "={{$json.workflowId}}",
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "aria-run-agent-workflow",
      "name": "Run Agent Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1110,
        260
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const results = items.map((item) => item.json);\nconst agents = results.map((result) => result.agentId);\nconst decisionMode = agents.length <= 1 ? 'single-agent' : 'multi-agent';\nreturn [\n  {\n    json: {\n      requestId: results[0]?.requestId ?? 'manual',\n      source: results[0]?.source ?? 'manual',\n      requestedBy: results[0]?.requestedBy ?? 'USER',\n      selectedAgents: agents,\n      executionOrder: results.map((result, index) => ({\n        agentId: result.agentId,\n        order: index + 1,\n      })),\n      delegated: agents.length > 0,\n      ariaSummary: agents.length <= 1\n        ? 'ARIA aplico corte temprano y resolvio el pedido con un solo agente en Oracle AI.'\n        : 'ARIA coordino ' + agents.length + ' agente(s) en Oracle AI.',\n      decisionMode,\n      cutoffReason: results[0]?.cutoffReason ?? 'fallback',\n      results,\n      freeOnly: true,\n    },\n  },\n];"
      },
      "id": "aria-assemble-response",
      "name": "Assemble Oracle Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1390,
        260
      ]
    },
    {
      "parameters": {
        "mode": "expression",
        "numberOutputs": 2,
        "output": "={{$json.source === 'webhook' ? 1 : 0}}"
      },
      "id": "aria-return-mode",
      "name": "Return Mode",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1660,
        260
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "resultMode-88549608",
              "name": "resultMode",
              "value": "manual-preview",
              "type": "string"
            },
            {
              "id": "summarySource-3f5d4a15",
              "name": "summarySource",
              "value": "oracle-aria-preview",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true
      },
      "id": "aria-preview-result",
      "name": "Preview Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1920,
        180
      ]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem"
      },
      "id": "aria-respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1920,
        360
      ]
    }
  ],
  "connections": {
    "Incoming Request": {
      "main": [
        [
          {
            "node": "Normalize Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Sample Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sample Request": {
      "main": [
        [
          {
            "node": "Normalize Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Request": {
      "main": [
        [
          {
            "node": "Expand Agent Targets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand Agent Targets": {
      "main": [
        [
          {
            "node": "Run Agent Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Agent Workflow": {
      "main": [
        [
          {
            "node": "Assemble Oracle Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Oracle Response": {
      "main": [
        [
          {
            "node": "Return Mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Mode": {
      "main": [
        [
          {
            "node": "Preview Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true,
    "freeOnly": true,
    "oracleAiWorkflow": true
  },
  "active": true,
  "description": "ARIA coordina hasta 3 agentes Oracle AI dentro de n8n, decide orden, aplica corte temprano y usa solo nodos gratis."
}
